div.text-center
  h4 Sorry, an error has occured, Requested page not found!
  p
    br
    a(href="/", class="btn btn-primary btn-lg")
      span(class="glyphicon glyphicon-home")
      |  Take Me Home
    | &nbsp;&nbsp;
    a(href="/page/contact", class="btn btn-default btn-lg")
      span(class="glyphicon glyphicon-envelope")
      |  Contact me
