p.blog-post-created
  i.fa.fa-calendar
  |  Posted on {{post.createdAt | date:'medium'}}

.blog-post-body(markdown="post.body")

script.
  var addthis_config = {"data_track_addressbar": true};

.social-share
  .addthis_toolbox.addthis_floating_style.addthis_counter_style.bubbles
    a.addthis_button_facebook_like('fb:like:layout'="box_count")
    a.addthis_button_facebook_share('fb:share:layout'="box_count")
    a.addthis_button_tweet('tw:count'="vertical")
    a.addthis_button_google_plusone('g:plusone:size'="tall")
    a.addthis_counter

h2(ng-show="showComments") Comments

disqus(
  disqus-shortname="{{ disqus_shortname }}"
  disqus-identifier="{{ post._id }}"
  disqus-url="{{ post.url() }}" disqus-title="{{ post.title }}"
  ready-to-bind="{{ showComments }}"
)
a(href="http://disqus.com", class="dsq-brlink", ng-hide="showComments") blog comments powered by
  span.logo-disqus Disqus

p: a.go-back(href='/blog')
  span.glyphicon.glyphicon-chevron-left
  | Go back to blog
