p Are you sure you want to delete blog post {{post.title}}?

form.form-horizontal.well(role='form')
  button.btn.btn-danger(type='submit', ng-click='deletePost()')
    i.glyphicon.glyphicon-trash
    |  Delete
  |  or&nbsp;
  a(href='/blog') Cancel
