form(role="form", name="blogForm")
  // Title
  .form-group.required
    label.text-lg(for="field-title") Title
    input#field-title.form-control.input-xl(type="text", required, ng-model="post.title", name="title", ng-change="updateSlug()")

  // Published - disabled temporary
  //.form-group: label Published &nbsp;
  //  input(type="checkbox", ng-model="post.status")

  // Slug
  .form-group.required
    label(for="field-slug") Slug
    .input-group
      .input-group-addon http://enden.com/blog/
      input#field-slug.form-control(type="text", required, ng-model="post.slug", name="slug", ng-change="disableAutoUrl()")

  // Tags - disabled temporary
  //.form-group
  //  label(for="field-tags") Tags
  //  input#field-tags.form-control(type="text", ng-model="post.tags")
  //  .help-block Enter a comma-separated list of words to describe your content.

  // Teaser
  .form-group.required
    .row
      .col-sm-6
        label Post teaser
        .form-control.ace-editor#field-teaser(ui-ace="{mode: 'markdown', onLoad: aceLoaded}", ng-model="post.teaser", name="teaser")
      .col-sm-6
        label Teaser preview
        .panel.panel-info
          .panel-body.markdown-preview(markdown="post.teaser")

  // Body
  .form-group.required
    .row
      .col-sm-6
        label Post body
        .form-control.ace-editor#field-body(ui-ace="{mode: 'markdown'}", ng-model="post.body")
      .col-sm-6
        label Post body preview
        .panel.panel-info
          .panel-body.markdown-preview(markdown="post.body")

  // Submit button
  .well
    button.btn.btn-primary.btn-lg(type="submit", ng-click="submitPost()" ng-disabled="blogForm.$invalid") <i class="fa fa-floppy-o"></i> Save post
    span.cancel-separator or
    a(href='/blog/{{post.slug}}') Cancel
