a.btn.btn-primary.btn-lg(href="/blog/add")
  i.glyphicon.glyphicon-plus
  |  Add blog post

article.blog-post-teaser(ng-repeat="post in posts")
  h3.blog-post-teaser-title: a(ng-href="/blog/{{post.slug}}") {{post.title}}
  p
    i.fa.fa-calendar-o
    |  Posted on {{post.createdAt | date:'mediumDate'}}

  .blog-post-teaser-body(markdown="{{post.teaser}}")

