.well
  h4: i(class='fa fa-tags') Popular Tags:
  .row
    .col-lg-6
      ul(class='list-unstyled')
        li: a(href='/tags/SOMETHING')
          span(class='badge badge-info') Windows 8
        li: a(href='/tags/Else')
          span(class='badge badge-info') Mac OSX

    .col-lg-6
      ul(class='list-unstyled')
        li: a(href='/tags/SOMETHING')
          span(class='badge badge-info') Linux
        li: a(href='/tags/Else')
          span(class='badge badge-info') OpenBSD
