@import 'nib'
@import 'styles/variables'
@import 'bower_components/bootstrap-stylus/stylus/bootstrap'

// @import 'https://raw.github.com/daneden/animate.css/master/animate.css'
// @import '//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/paper/bootstrap.min.css'

@import 'ace'
@import 'highlight'
@import 'social'

.nav-tabs
  margin-bottom: 15px

.form-group.required label:after
  content: '*'
  color: red
  margin-left: 3px

.cancel-separator
  margin-left: 10px
  margin-right: 5px

h1, h2, h3, h4, h5
  a
    display: block

h1
  margin-bottom: 20px

body.page-not-found h1
  text-align: center

.text-lg
  font-size: $font-size-large
  line-height: $line-height-large
  
.text-xl
  font-size: $font-size-extra-large
  line-height: $line-height-extra-large

.input-xl
  input-size(auto, $padding-large-vertical, $padding-large-horizontal, $font-size-h2, $line-height-large, $border-radius-large)

.navbar
  margin-bottom: 0
  
.navbar-sticky
  border: 1px solid #e8e8e8
  border-width: 0 1px 1px 1px
  margin: 0
  padding: 10px 20px

.navbar-container
  position: relative

.navbar-nav > li > a
  border-radius: $border-radius-base

.navbar-brand
  height: auto
  width: 340px
  small
    display: block
    font-size: $font-size-small
    line-height: 100%
    margin-top: 5px


.page-container
  margin-bottom: 40px
  
footer
  padding: 20px 0
  border-top: 1px solid $gray-lighter

.go-back
  display: block
  margin-top: 20px

.blog-post-body
  margin-bottom: 30px

.blog-post-teaser
  margin-bottom: 20px

.image-caption
  color: $gray-light
  font-style: italic

.card3d
  transform: translateZ(0)
  margin-right: 10px
  width: 50px
  height: 50px
  transform-style: preserve-3d
  backface-visibility: hidden
  display: flex
  position: relative

.breadcrumb-current
  float: right
