@import 'nib'

@import url('//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700')

@import 'styles/variables'
@import 'bower_components/bootstrap-stylus/stylus/bootstrap'

@import 'styles/ace'
@import 'styles/highlight'
@import 'styles/social'
@import 'styles/blog'

a:hover:active, a:active
  opacity: 0.7

.nav-tabs
  margin-bottom: 15px

.form-group.required label:after
  content: '*'
  color: red
  margin-left: 3px

.cancel-separator
  margin-left: 10px
  margin-right: 5px

h1, h2, h3, h4, h5
  a
    display: block

h1
  margin-bottom: 20px

*
  transition: opacity 0.3s

body.page-not-found h1
  text-align: center

.text-lg
  font-size: $font-size-large
  line-height: $line-height-large
  
.text-xl
  font-size: $font-size-extra-large
  line-height: $line-height-extra-large

.input-xl
  input-size(auto, $padding-large-vertical, $padding-large-horizontal, $font-size-h2, $line-height-large, $border-radius-large)

@media (min-width: $screen-sm-min)
  .navbar.navbar-default
    .navbar-nav
      float: right
      > li > a
        padding: 14px
        margin: 16px 6px
      > li:last-child a
        margin-right: 0

@media (min-width: $screen-sm-min)
  .navbar.navbar-default
    .navbar-nav > li
      > a
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
        background: $gray-extra-light
      > a:before
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        background: $brand-primary;
        height: 2px;
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      > a:active:before, &.active > a:before, > a:hover:before, > a:focus:before, > a:active:before
        -webkit-transform: translateY(0);
        transform: translateY(0);
      > a:active, &.active > a, > a:hover, > a:focus, > a:active
        background: $gray-extra-light
      &.active > a:before
        bottom: -2px;
        height: 4px;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);

.navbar
  border-width: 0 1px 4px 1px
  box-shadow: 0 -1px 0 #C4C4C4 inset
  background: none
  &-nav > li > a
    text-transform: uppercase

.navbar-container
  position: relative

.navbar-nav > li > a
  border-radius: $border-radius-base

.navbar-brand
  height: auto
  width: 340px
  .site-name
    margin-top: 5px
  small
    display: block
    font-size: $font-size-small
    line-height: 100%
    margin-top: 5px

.col-static
  position: static

.col-relative
  position: relative

.page-container
  margin-bottom: 40px
  min-height: 800px
  *
    opacity: 0
  
.page-container.ng-route-loaded
  min-height: 400px
  *
    opacity: 1

footer section
  padding: 20px 0
  &.first-footer
    border-top: 1px solid $gray-lighter
    border-bottom: 1px solid $gray-lighter
    background: #F8F8F8
    text-align: center
    a
      display: inline-block
      background: #888888
      color: #F8F8F8
      font-size: 20px
      line-height: 100%
      padding: 5px

.go-back
  display: block
  margin-top: 20px

.card3d
  transform: translateZ(0)
  margin-right: 10px
  width: 50px
  height: 50px
  transform-style: preserve-3d
  backface-visibility: hidden
  display: flex
  position: relative

.breadcrumb-current
  float: right


// Increase size of body preview
@media (min-width: 900px * 2)
  .markdown-preview-wide
    width: 900px

.fa-inverse
  color: white

.route-loader
  text-align: center
  color: $brand-primary
  padding: 40px 0

.text-xxl
  font-size: $font-size-xxl
