.blog-post-body
  margin-bottom: 30px

.blog-post-teaser
  margin-bottom: 20px

.image-caption
  color: $gray-light
  font-style: italic

body.blog-post-view .blog-post-created
  margin-bottom: 20px
  display: inline-block;
