// Styles related to syntax highlighter

code, pre
  border 0
  border-radius 0

pre
  padding 0
  overflow auto

pre code,
pre .number
  display block

pre .number
  float left
  margin 0 1em 0 -1em
  border-right 1px solid gray
  color silver
  text-align right

pre .number span
  display block
  padding 0 .5em 0 1em

pre .cl
  display block
  clear both
