$facebook-color = #3C599F
$twitter-color = #33C6F4
$linkedin-color = #0097BD
$google-plus-color = #DD4B39
$github-color = #333333

// Social share
.social-share
  height: 66px
  margin: 30px 0 50px 0

.share-button
  margin-right: 5px

.ng-social
  clearfix()
  list-style: none
  margin: 0 0 30px 0
  padding: 0
  li
    float: left
    .social-button
      text-decoration: none
      display: inline-block
      padding: 5px 10px
      color: white
      text-align: center
      min-width: 70px
      position: relative
      .share-button-label
        position: absolute
        left: -9999px
      &:hover
        box-shadow: 0 0 5px black inset
        .share-button-label
          position: absolute
          display: block
          width: 100%
          left: 0
          text-align: center
          bottom: -20px
          background: $gray
      .social-button-counter
        position: relative
        top: -2px
        margin-left: 10px
  .ng-social-facebook a
    background-color: $facebook-color
  .ng-social-twitter a
    background-color: $twitter-color
  .ng-social-linkedin a
    background-color: $linkedin-color
  .ng-social-google-plus a
    background-color: $google-plus-color

.ng-social-buttons-small
  li
    .social-button
      padding: 3px 6px
      min-width: 30px
      .social-button-counter
        top: 0
        margin-left: 5px;

// Follow me links
.social-link
  margin-left: 7px
.fa-drupal.fa-colorized
  color: $facebook-color
.fa-github.fa-colorized
  color: $github-color
.fa-linkedin-square.fa-colorized
  color: $linkedin-color
.fa-twitter.fa-colorized
  color: $twitter-color
.fa-google-plus-square.fa-colorized
  color: $google-plus-color
.fa-facebook-square.fa-colorized
  color: $facebook-color
.fa-colorized:hover
  opacity: 0.8
