p Are you sure you want to delete page <strong>{{page.title}}</strong>?

form.form-horizontal.well(role='form')
  button.btn.btn-danger(type='submit', ng-click='deletePage()')
    i.glyphicon.glyphicon-trash
    |  Delete
  |  or&nbsp;
  a(href='/') Cancel
